phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# registry=https://registry.npm.taobao.org
registry=http://39.106.198.198:18081/nexus/repository/npm-group/
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/node-canvas-prebuilt/
