.wrapper {
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  right: 65px;
  bottom: 8px;
  font-size: 12px;
  width: 358px;
  height: 68px;
  background: rgba(106, 113, 145, 0.6);
  border-radius: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  .content {
    width: 52px;
    height: 52px;
    /* padding: 4px; */
    margin: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
    i {
      font-size: 18px;
    }
    &.active,
    &:active {
      background: rgba(106, 113, 145, 0.7);
    }
  }
}
