.normal {
  font-family: Georgia, sans-serif;
  /* margin-top: 3em; */
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  /* background: url(../assets/yay.jpg) no-repeat center 0; */
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.getMyPosition {
  position: absolute;
  right: 10px;
  bottom: 13.5em;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
  font-size: 12px;
  box-shadow: 1px 1px 5px #ddd, -1px -1px 5px #ddd;
}
.loadingPage {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
:global(.panels .ant-tabs-content) {
  max-height: 100%;
  flex: 1;
}
:global(.panels .ant-tabs-tabpane) {
  height: 100%;
}
:global(.ant-tabs-nav-list) {
  margin: 0 auto;
}

:global(.invalid) {
  pointer-events: none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  list-style-type: none;
}
/* :global(.ol-overlay-container .ol-selectable) {
  z-index: 99 !important;
} */
