.wrapper {
  margin: 0;
  padding: 0;
  span {
    color: #fff;
    svg {
      color: #fff;
    }
  }
  .row {
    height: 30px;
  }
  :global(.ant-collapse-content) {
    background: rgba(255, 255, 255, 0);
  }
  :global(.ant-collapse-header) {
    text-align: left;
  }
}
