.wrap {
  padding: 0;
  height: 400px;
  z-index: 99;
  background-color: #fff;
  font-family: PingFangSC-Semibold, PingFang SC;
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    div {
      width: 14px;
      height: 14px;
    }
    span {
      font-size: 14px;
    }
  }
  .layerItems {
    height: 84px;
    margin: 16px;
    display: -webkit-inline-box;
    /* display: flex; */
    /* flex-direction: row; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    overflow-y: hidden;
    -ms-flex-align: center;
    align-items: center;
  }
  .layerItem {
    width: 64px;
    height: 64px;
    background: #eff0ef;
    border-radius: 2px;
    margin: 0 16px 0 0;
    margin-top: 12px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.1);
    &.active {
      border: 2px solid rgba(23, 105, 255, 1);
      span {
        color: #1769ff;
      }
    }
  }
  .lengedItem {
    width: 64px;
    height: 68px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    div {
      width: 36px;
      height: 36px;
      margin: 0 auto;
      margin-top: 4px;
      margin-bottom: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%
    }
  }
  .layerName {
    position: relative;
    top: 22px;
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    line-height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .myDirection {
    zoom: 0.8;
    margin: 5px 0;
  }
  .controller {
    position: absolute;
    bottom: 10px;
    right: 100%;
    width: 30px;
    height: 54px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0px 2px 2px 0px;
    opacity: 0.96;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 7px 8px;
  }
}
