.overlay{
    background-color: #1769FF;
    color: #fff;
    position: relative;
    transition: all 0.3s linear;
    padding: 0px 22px;
    cursor: pointer;
}
.pictureDiv{
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    
}
.pictureDivMore{
    position: absolute;
    right: 5px;
    bottom: 0px;
}