@import '../../../../globalSet/styles/globalStyles.less';
.collection_detail{
  position: absolute;
  animation-duration: 0.5s;
  top: 1%;
  right: 1%;
  z-index: 10;
  width: 19vw;
  background-color: #fff;
  box-shadow:17px 17px 33px 0px rgba(102,144,255,0.1),12px 12px 20px 0px rgba(87,92,118,0.1);
  border-radius:8px;
  // padding-bottom: 30px;
  .detail_title{
    text-align: right;
    padding: 8px 4px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    span{
      margin-right: 8px;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
  .container{
    .data_msg{
      background-color: #fff;
      padding: 8px 15px;
      .data_title{
        font-weight: bold;
      }
      div[contenteditable]:empty:before{
        content: attr(placeholder);
        color: #CCCCCC;
      }
      .data_remark{
        // text-indent: 1em;
        padding: 3px 5px;
        font-size: 14px;
        height: 80px;
        .autoScrollY;
        border: 1px solid transparent;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
      }
      .activeEdit{
        transition: all 0.3s linear;
        border-color:rgba(64, 169, 255, 0.548);
      }
    }
  }
  .container_img{
    transition: all 0.3s linear;
    padding: 5px 0;
    text-align: center;
    background-color: #474A5B;
    height: 195px;
    overflow: hidden;
    img{
      height: 100%;
      max-width: 100%;
    }
    border-bottom: 1px solid rgba(0,0,0,0.12);
  }
  .close{
    cursor: pointer;
  }
}
