@import '../../globalSet/styles/globalStyles.less';
.areaItem{
  cursor: pointer;
  line-height: 1.5rem;
  &:hover{
    color: @color_theme;
  }
}
.wrap {
  font-family: PingFangSC-Semibold, PingFang SC;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  background-color: rgb(245, 245, 245, 1);
  opacity: 1;
  .gobackBtn {
    border-radius: 22px;
    width: 22px;
    height: 22px;
    background: rgba(246, 248, 246, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  }
  .title {
    position: relative;
    width: 100%;
    height: 240px;
    background: rgba(0, 0, 0, 0.09);

    // background: linear-gradient(
    //   180deg,
    //   rgba(31, 32, 62, 0.53) 0%,
    //   rgba(154, 0, 0, 0.51) 99%
    // );
    background-image: linear-gradient(135deg, #0e2a44 10%, #7ad09f 100%);
    p {
      margin: 0;
      padding: 0 0 0 18px;
      text-align: left;
    }
    .name {
      font-size: 24px;
      color: rgba(246, 248, 246, 1);
      line-height: 33px;
      text-shadow: 0 0 5px #333;
    }
    .date {
      font-size: 14px;
      color: rgba(246, 248, 246, 1);
      line-height: 20px;
    }
    .tab {
      font-size: 16px;
      line-height: 22px;
      margin: 0 5px;
    }
    .slect {
      color: #4090f7;
      border-bottom: 2px solid #4090f7;
    }
    // &.hasBg{
    //   background-image: url('../../assets/projectImg/project_bg.png') ;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    // }
    .boardBgImg{
      position: absolute;
      z-index: 0;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .projectModal{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5));
      z-index: 3;
      pointer-events: none;
    }
  }
  .numberIcon {
    display: inline-block;
    font-size: 1.1rem;
    // width: 26px;
    // height: 26px;
    // background: rgba(216, 216, 216, 1);
    // border-radius: 13px;
    // padding: 2px;
  }
  .headerTools{
    float: right;
  }
  .editNames{
    // float: right;
    margin-left: 5px;
    &:hover{
      color: #1769FF;
    }
  }
  .moreOperations{
    margin-left: 5px;
    &:hover{
      color: #1769FF;
    }
  }
  .checkBoxForHeader{
    // float: right;
    margin-left: 5px;
  }
  .uploadItemOperation{
    & > span{
      transition: color 0.2s linear;
      &:hover{
        color:#1769FF ;
      }
    }
  }
  .text {
    // font-size: 18px;
    color: rgba(0, 0, 0, 1);
    line-height: 25px;
    margin-left: 10px;
    text-align: left;
    width: 100%;
  }
  .eyes{
    font-size: 1.2rem;
    color: #333;
  }
  .uploadBtn{
    font-size: 20px;
    border: 1px solid #0D4FF7;
    display: inline-block;
    width: 40px;
    border-radius: 99px;
    line-height: 40px;
    height: 40px;
  }
  .uploadIcon {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    display: table;
    color: rgb(0,0,0,0.85);
    span {
      display: table-cell;
      vertical-align: middle;
    }
    &.paper {
      // 图纸
      background: rgba(181, 245, 236, 1);
    }
    &.interview {
      // 访谈
      background: rgba(255, 231, 186, 1);
    }
    &.pic {
      // 图片
      background: rgba(255, 255, 184, 1);
    }
    &.video {
      // 视频
      background: rgba(217, 247, 190, 1);
    }
    &.word {
      // 文档
      background: rgba(186, 231, 255, 1);
    }
    &.annotate {
      // 批注
      background: rgba(214, 228, 255, 1);
    }
    &.plotting {
      // 标绘
      background: rgba(239, 219, 255, 1);
    }
    // 未知类型
    &.unknow{
      background-color: rgba(0 , 0,0 ,0.15);
    }
    &.planPic{
      background-color: rgba(10, 153, 236, 0.15);
    }
    &.address{
      background-color: rgba(50, 243, 233, 0.15);
    }
  }
  .uploadItem {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 56px;
    background: rgba(0, 0, 0, 0.02);
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
  }
  .text_overflow{
    width: 100%;
  }
  .norAreaIdsData{
    margin-top: 10px;
    padding: 5px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uploadDetail {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 20px;
    margin: 3px 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 72%;

    .firstRow {
      color: rgb(0,0,0,0.85);
    }
  }
  .scoutingItem {
    user-select: none;
    margin-top: 10px;
    background: "#fff";
    border: 0;
    p {
      // text-align: left;
      margin: 0;
    }
    i {
      margin: 0;
    }
    .icon {
      color: #1689f3;
    }
    :global {
      .ant-collapse-content-box {
        padding: 10px;
        // padding-top: 0 !important;
      }
    }
  }
  .itemDetail {
    margin: 0;
    padding: 0;
    color: rgb(0,0,0,0.85);
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px 0;
    .light {
      color: rgb(0,0,0,0.65);
    }
  }

  .addAreaBtn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:  translateX(-50%);
    width: 100%;
    background-color: #fff;
    padding-top: 12px;
    box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.15);
  }

  .handleCollection{
    position: absolute;
    left: -7px;
    top:50%;
    transform: translateY(-50%);
    font-size: 1rem;
  }
  .title_remark{
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
    .autoScrollY;
    width: 80%
  }

  .groupCollection{
    background-color: rgba(0,0,0,0.06);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 4px;
    border: 1px solid rgba(0,0,0,0.15);
    & > .uploadItem:first-child{
      border-top-width: 0;
    }
    & > .uploadItem:last-child{
      border-bottom-width: 0;
    }
    .uploadItem{
      border-width: 0;
      border-bottom-width: 1px;
      margin-bottom: 0;
    }
  }
  :global {
    .ant-tabs-top-content {
      height: 100%;
    }
    .ant-tabs-bar {
      text-align: left;
      padding-left: 18px;
      margin: 0;
    }
    .ant-tabs-nav .ant-tabs-tab {
      padding: 6px 0;
    }
    .ant-tabs-content-holder{
      height: 100%;
    }
    .ant-tabs-content-top{
      height: 100%;
    }
  }
}
